<!doctype html>
<html lang="en">
  <head>
    <title>YouTube Converter</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  

    <div class="container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}

            {% for message in messages %}
                {% if "Error" not in message[1]: %}
                    <div class="alert alert-info">
                    <strong>{{ message[1] }}</strong> 
                    </div>
                {% endif %}

                {% if "Error" in message[1]: %}
                    <div class="alert alert-warning">
                    {{ message[1] }}
                    </div>
                {% endif %}
            {% endfor %}
                {% endif %}
            {% endwith %}
 
            <h2>Youtube Converter</h2>
            <form  action="" method="post" role="form">
              {{ form.csrf }}
              <div class="form-group">
                
                {{ form.videourl(placeholder="Enter Video URL",class="form-control") }}
                {{ form.title(placeholder="Track Title",class="form-control") }}                
                {{ form.artist(placeholder="Track Artist",class="form-control") }}                
                {{ form.album(placeholder="Track Album",class="form-control") }}                
              </div>
              <div class="text-center"><button type="submit" class="btn btn-success">Submit</button></div>
            </form>
           
            <br>
                  
           
    </div>
    {% if file %}
    <div class="container text-center">
        <a name="Download" id="Download" class="btn btn-primary" href="/downloads/{{file}}" role="button">Download {{file}}</a>
        
  
  
      </div>
    {% endif %}
    
    
    <br>
</body>
</html>